<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.mandrakey.shoppingoverview">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.AboutActivity"
                  android:screenOrientation="landscape" />
    </application>

</manifest>
